name: Build and Publish to npm

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      # ------------------------------
      # Checkout repository
      # ------------------------------
      - name: Checkout code
        uses: actions/checkout@v4

      # ------------------------------
      # Setup Node
      # ------------------------------
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/

      # ------------------------------
      # Install dependencies
      # ------------------------------
      - name: Install dependencies
        run: npm ci

      # ------------------------------
      # Build Angular library
      # ------------------------------
      - name: Build library
        run: npx ng build common-utilities

      # ------------------------------
      # Set CI version (auto increment)
      # ------------------------------
      - name: Set CI version
        run: |
          cd dist/common-utilities
          npm version 1.0.0-ci.${{ github.run_number }} --no-git-tag-version

      # ------------------------------
      # Publish to npmjs
      # ------------------------------
      - name: Publish to npm
        run: |
          cd dist/common-utilities
          npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
